@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 10%;
    margin-top: 1.5em;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.header-1{
    margin-right: 2em;
}

#logo{
    width: 80%;
}

.header-2{
    display: flex;
    
}
    .h2-a{
        text-decoration: none; 
    }
    .h2-items{
        margin-right: 1.5em;
    }
        .h2-items:hover{
            font-size: kumbh sans;
        }

.header-3{
    display: flex;
    align-items: center;
    margin-left: 25rem;
}

.h3-1{
    display: flex;
    /* flex-direction: column; */
}

#cart-logo{
    margin-top: 15px;
}

#avatar-logo{
    width: 40%;
    margin-left: 1.5em;
}
    #avatar-logo:hover{
        border: 1px solid hsl(26, 100%, 55%);
        border-radius: 25px;
    }

.h3-button{
    border: none;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.h3-span{
    position: relative;
    left: 0.7em;
    bottom: 3.4em;
    padding: 0px 8px;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    visibility: hidden;
    font-family: kumbh sans;
    font-size: 10px;
    background-color: hsl(26, 100%, 55%);
    border: 1px solid hsl(220, 13%, 13%);
    border-color: hsl(26, 100%, 55%);
}

.h3-3{
    position: absolute;
    top: 5rem;
    right: 10rem;
    /* padding-bottom: 1.2rem; */
    opacity: 1;
    width: 26%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    visibility: hidden;
    border-radius: 10px;
}
    #h3-3-heading{
        padding: 1.5em 0.5em 1em;
        font-family: kumbh sans;
        font-weight: 700;
    }

.cart-spacing{
    margin: 0 20px;
    margin-top: 12px;
    visibility: hidden;
}
    .cart-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #cart-image{
        width: 60px;

    }
    #cart-message2{
        font-size: 15px;
    }
    #bold{
        font-weight: 700;
        font-size: 15px;
    }

#checkout{
    width: 100%;
    padding: 10px 0;
    border-radius: 12px;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    border: none;
    font-family: kumbh sans;
    font-weight: 700;
    margin-top: 7px;
    cursor: pointer;
    margin-bottom: 15px;
}

section{
    margin: 0 2.5em;
    display: flex;
    margin-bottom: 3.5em;
}

.hr{
    margin-bottom: 3rem;
    width:96% ;
}

#sneakers-img{
    width: 70%;
    border-radius: 10px;
}

.sub-sub1{
    display: flex;
    width: 70%;
    margin-top: 1em;
}

.img-thumbnail{
    width: 70%;
    border-radius: 10px;   
}
    .img-thumbnail:hover{
        opacity: 0.4;
        border: 2px solid hsl(26, 100%, 55%);
}




/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: none;
}

/* image size  */
.image-carousel{
    width: 60%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





#sub-section2{
    margin-top: 3rem;
}

.btn-sub1{
    border: none;
    background: none;
    cursor: pointer;
}

#sneak1{
    font-family: kumbh sans;
    font-size: 12px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    margin-bottom: 10px;
}

#section-p2{
    font-size: 30px;
    font-family: kumbh sans;
    font-weight: 700;
    width: 60%;
}

#section-p3{
    margin-top: 1.5em;
    width: 60%;
    line-height: 1.5em;
    font-family: kumbh sans;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0.75em;
}

#section-p4{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#span1{
    font-size: 20px;
    font-family: kumbh sans;
    font-weight: 700;
}

#span2{
    background-color:hsl(25, 100%, 94%) ;
    color: hsl(26, 100%, 55%);
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    font-family: kumbh sans;
    font-weight: 700;
    font-size: 12px;
}

#section-p5{
    color: hsl(220, 14%, 75%);
    margin-bottom: 1.5em
}
    #section-p5-1{
        display: none;
    }

#section-p6{
    display: flex;
}

#p6-1{
    background-color: hsl(223, 64%, 98%);
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;

}

#p6-span{
    margin: 10px 40px;
}

.btn-p6{
    border: none;
    background: none;
    margin: 0 5px;
    cursor: pointer;
}

#cart{
    filter: brightness(0) invert(1);
    width: 15%;
    margin-right: 5px;
}

#btn-2{
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}




@media screen and (max-width:375px) {
body{
    margin: 0;
    margin-top: 0;
    width: 375px;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: none;
    margin-bottom: 0;
    margin: 0 20px;
    margin-top: 15px;
}

.header-1{
    margin-right: 0;
}

#logo{
    width: 70%;
}

.header-2{
    display: none;
    
}
    .h2-a{
        text-decoration: none; 
    }
    .h2-items{
        margin-right: 0em;
    }
        .h2-items:hover{
            font-size: kumbh sans;
        }

.header-3{
    display: flex;
    align-items:center;
    margin-left: 0;
    /* width: 375px; */
}

.h3-1{
    display: flex;
}

#cart-logo{
    margin-top: 0;
}

#avatar-logo{
    width: 3rem;
    margin-left: 0;
}
    #avatar-logo:hover{
        border: 1px solid hsl(26, 100%, 55%);
        border-radius: 25px;
    }

.h3-button{
    border: none;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.h3-span{
    position: relative;
    left: -1.7em;
    bottom: 0;
    top: -1.4em;
    padding: 0px 8px;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    visibility: hidden;
    font-family: kumbh sans;
    font-size: 10px;
    background-color: hsl(26, 100%, 55%);
    border: 1px solid hsl(220, 13%, 13%);
    border-color: hsl(26, 100%, 55%);
}

.h3-3{
    position: absolute;
    top: 5rem;
    right: 10rem;
    padding-bottom: 1.2rem;
    opacity: 2;
    width: 26%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    visibility: hidden;
    border-radius: 10px;
}
    #h3-3-heading{
        padding: 1.5em 0.5em 1em;
        font-family: kumbh sans;
        font-weight: 700;
    }

.cart-spacing{
    margin: 0 20px;
    margin-top: 12px;
    visibility: hidden;
}
    .cart-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #cart-image{
        width: 60px;

    }
    #cart-message2{
        font-size: 15px;
    }

#checkout{
    width: 100%;
    padding: 10px 0;
    border-radius: 12px;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    border: none;
    font-family: kumbh sans;
    font-weight: 700;
    margin-top: 7px;
    cursor: pointer;
    margin-bottom: 15px;
}


section{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5em;
}

.hr{
    margin-bottom: 0;
    width:96% ;
    display: none;
}

#sneakers-img{
    width: 78%;
    border-radius: 0;
    display: none;
}

.sub-sub1{
    display: none;
    width: 70%;
    margin-top: 0;
}

.img-thumbnail{
    width: 70%;
    border-radius: 10px;   
}
    .img-thumbnail:hover{
        opacity: 0.4;
        border: 2px solid hsl(26, 100%, 55%);
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: block;
  }
  
  /* image size  */
  .image-carousel{
      width: 100%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 12%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }




#sub-section2{
    margin: 0 20px;
    margin-top: 15px;
}

.btn-sub1{
    border: none;
    background: none;
    cursor: pointer;
}

#sneak1{
    font-family: kumbh sans;
    font-size: 9px;
    font-weight: bolder;
    color: hsl(26, 100%, 55%);
    margin-bottom: 10px;
}

#section-p2{
    font-size: 20px;
    font-family: kumbh sans;
    font-weight: bolder;
    width: 60%;
}

#section-p3{
    margin-top: 1em;
    width: 95%;
    line-height: 1.5em;
    font-family: kumbh sans;
    font-weight:200;
    font-size: 13px;
    margin-bottom: 1.5em;
}

#section-p4{
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#span1{
    font-size: 20px;
    font-family: kumbh sans;
    font-weight: 700;
}

#span2{
    background-color:hsl(25, 100%, 94%) ;
    color: hsl(26, 100%, 55%);
    margin-left:15px;
    padding: 2px 5px;
    border-radius: 5px;
    font-family: kumbh sans;
    font-weight: 700;
    font-size: 12px;
}

#section-p5{
    display: none;
    color: hsl(220, 14%, 75%);
    margin-bottom: 1.5em
}
    #section-p5-1{
        display: block;
        color: hsl(220, 14%, 75%);
        margin-left: 8em;
    }

#section-p6{
    display: flex;
    flex-direction: column;
}

#p6-1{
    margin-right: 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 75%; */
    padding: 10px 0;
}

#p6-span{
    margin: 0;
}

.btn-p6{
    margin: 0 10px;
}

#btn-2{
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
}

.attribution{
    width: 300px;
}

}